/* Common styling */
body {
  background-color: lightgrey;
  background-image: url('../images/background-tile.png');
}

main {
  background-color: white;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h1 {
  color: teal;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 3rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
}

footer {
  background-color: #333;
  border-top: 5px solid teal;
  height: 4rem;
}

.title-name {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  background-color: teal;
  font-size: 1.75rem;
}

.nav-link {
  font-weight: 500;
}

/* About page styling */
.portrait {
  margin: 0 0 15px 0;
}

/* Contact page styling */
.contact-submit {
  background-color: teal;
  color: white;
  margin: 15px;
}

/* Portfolio page styling */
figure {
  display: table;
  margin: 0px;
}

figure img {
  display: block;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
}

.portfolio-image {
  margin: 2rem 0 0 0;
}
