/* About page styling */
.portrait {
  margin: 0 0 15px 0;
  border-radius: 30%;
}

.icon-button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  bottom: 6px;
  font-size: 30px;
  outline: none;
  background-color: transparent;
}

.link-icon:hover::before {
  animation: iconHover 0.5s 1;
  animation-fill-mode: forwards;
}

@keyframes iconHover {
  0% {
    font-size: 30px;
  }

  100% {
    font-size: 36px;
  }
}