/* Common styling */
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: lightgrey;
  background-image: url('./images/background-tile.png');
}

h2 {
  margin-top: 15px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
}

.section-header {
  color: #0E5A40;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 3rem;
}